terminaide/cache/scripts/*
terminaide/cache/params/*
terminaide/cache/logs/*
terminaide/cache/assets/*
terminaide/cache/binaries/*
**.pytest_cache/
**/__pycache__
CLAUDE.md
.claude/
**/*.pyc
**/*.pyo
**/*.pyd
.DS_Store
.archive/
.venv
.vscode
dist/
test.py
.env