**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.DS_Store
.archive/
.venv
.vscode
dist/
test.py
.env

terminaide/bin/*
!terminaide/bin/.gitkeep
terminaide/cache/ephemeral/*

CLAUDE.md
.claude/

**.pytest_cache/